.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 0 55px;
  &-nav {
    &-desktop {
      display: flex;
      gap: 48px;
      background: rgba(255, 255, 255, 0.04);
      backdrop-filter: blur(40.7742px);
      padding: 39px 165px 38px 123px;
      z-index: 1;
      &::before {
        content: "";
        background-color: #fff;
        opacity: 0.5;
        position: absolute;
        width: 473px;
        height: 1px;
        left: -398px;
        top: 50px;
        z-index: 2;
      }
    }
    &-li {
      position: relative;
      cursor: pointer;
      color: #fff;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 2.7px;
      span {
        margin-right: 12px;
      }
      &-links {
        color: #fff;
        &::after {
          content: "";
          position: absolute;
          height: 0.1875rem;
          width: 100%;
          left: 0;
          top: 53px;
          background-color: #fff;
          opacity: 0;
          transition: opacity 0.3s;
        }
        &:hover {
          &::after {
            opacity: 0.5;
          }
        }
      }
      .active {
        &::after {
          opacity: 1;
        }
      }
    }
  }
  &-mobile-btn {
    display: none;
  }
}
